<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Ежедневник", "Notes", "Notes", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Контакты", "Contacts", "Contacts", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        
        <div class="navbar-right navbar-brand kursor-pointer btn-group">
            <a data-toggle="dropdown">Добавить<span class="caret"></span></a>
            <ul class="dropdown-menu">
                @*<li>@Html.ActionLink("Создать услугу", "Index", "CreateService")</li>*@
                <li><a data-toggle="modal" data-target="#AddNoteWindow">Запись</a></li>
                <li><a data-toggle="modal" data-target="#AddContactWindow">Контакт</a></li>
                <li><a href="#">Пункт 233</a></li>
                <li><a href="#">Пункт 23</a></li>
                @*<li class="divider"></li>
                <li>@Ajax.ActionLink("Выход", "UserLogOff", "Account", new RouteValueDictionary(), new AjaxOptions { UpdateTargetId = "HeaderId" })</li>*@
            </ul>
        </div>
    </div>
</div>

